<!-- popover import -->
<script type="module">
  import { popoverController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
  window.popoverController = popoverController;
</script>


<!-- heading name and logo -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      <h1 id="name1">DigiHealth </h1>
      <img src="../../assets/logo.PNG" alt="DigiHealth Logo" id="logo1">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <div #map id="map"></div>

</ion-content>


<!-- popover test -->

 <ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Popover</ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="ion-padding">
    <ion-button class = "info" expand="block">Show Popover</ion-button>
  </ion-content>
</ion-app>


<-- popover code -->
<script>
  let currentPopover = null;

  const buttons = document.querySelectorAll('ion-button');
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', handleButtonClick);
  }

  async function handleButtonClick(ev) {
    popover = await popoverController.create({
      component: 'popover-example-page',
      event: ev,
      translucent: true
    });
    currentPopover = popover;
    return popover.present();
  }

  function dismissPopover() {
    if (currentPopover) {
      currentPopover.dismiss().then(() => { currentPopover = null; });
    }
  }

  customElements.define('popover-example-page', class ModalContent extends HTMLElement {
    connectedCallback() {
      this.innerHTML = `
        <ion-list>
          <ion-list-header>Ionic</ion-list-header>
          <ion-item button>Learn Ionic</ion-item>
          <ion-item button>Documentation</ion-item>
          <ion-item button>Showcase</ion-item>
          <ion-item button>GitHub Repo</ion-item>
          <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item>
        </ion-list>
      `;
    }
  });
</script> 